<header class="masthead" style="background-image: url(&quot;https://1.bp.blogspot.com/-_FFKS83j8pQ/YHnmpRMaXCI/AAAAAAABsPc/a-XdCLEMqtILuAdrwMqMS4N0QSujv1svACLcBGAsYHQ/s1600/inen-surquillo.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Bienvenido a:</span>
        </div>
        <div class="intro-heading text-uppercase">
            <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;INEN app</span>
            
        </div>
        <div class="col-md-3">
        <label for="radiologo" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="radiologo" name="Centro Medico">
        <label for="radiologo" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="radiologo" name="Centro Medico">


        <a class="btn btn-primary" role="button" href="perfil" style="background-color: rgb(255,165,85);border:none;">Ingresar </a>
   
    </div>

        <div class="col-md-3">
         <a href="password"> ¿Has olvidado la contraseña? </a>
        </div>
</div>

    </div>
</header>